@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
  background-color: #f5f5f5;
}

/* nav section start */
.navbar {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo {
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
}
.nav-btn .btn-1 {
  color: #006a50;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  padding: 10px 25px;
  border: 2px solid #006a50;
  border-radius: 5px;
}
.nav-btn .btn-1:hover {
  background-color: #71affa;
  color: #0e0e0e;
}
/* nav section end */

/* banner section start */
.banner-container {
  width: 90%;
  height: 600px;
  margin: 50px auto;
  background-color: #c6e4d6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-container .banner-content h3 {
  color: rgba(13.81, 13.81, 13.81, 0.5);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.banner-container .banner-content p {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: 700;
  padding: 10px;
}

.banner-btn .btn-2 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #006a50;
  padding: 25px;
  border-radius: 10px;
  border: none;
}
.banner-btn .btn-2:hover {
  color: rgb(224, 15, 15);
  background-color: #6a0065;
}
/* banner section end */

/* Pillars of "Bangladesh 2.0" section start */
.pillars-container {
  width: 90%;
  margin: 0 auto;
}

.pillars-container .pillars-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  margin-top: 80px;
}
.pillars-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pillars-content .pillars-box {
  height: 250px;
  width: 250ox;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid white;
  margin-top: 30px;
}
.pillars-box h2 {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.pillars-box p {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
/* Pillars of "Bangladesh 2.0" section end */

/* The Vision of Future start  */
.vision-container {
  width: 90%;
  margin: 80px auto;
}

.vision-container h1 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}
.vision-container p {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}
.vision-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.vision-future-box {
  height: 250px;
  width: 250ox;
  background-color: #d5e1f5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.vision-content .box-bg2 {
  background-color: #c6e4d6;
}
.vision-content .box-bg3 {
  background-color: #f7ebcf;
}
.vision-future-box h2 {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.vision-future-box .vision-text {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.vision-future-box .btn-vision {
  color: white;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #71affa;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.vision-future-box .btn-vision:hover {
  background-color: #5d09a1;
}
.vision-future-box .btn-vision-2 {
  background-color: #09a15c;
}
.vision-future-box .btn-vision-2:hover {
  background-color: #ffc239;
}

.vision-future-box .btn-vision-3 {
  background-color: #ffc239;
}
.vision-future-box .btn-vision-3:hover {
  background-color: #09a15c;
}
/* The Vision of Future end */

/* Dr. Muhammad Yunus section start */
.text-container {
  width: 90%;
  height: 250px;
  margin: 50px auto;
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
}
.text-container .text-content {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  margin-left: 20px;
}
.text-container .text-info {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  padding: 25px 0px 0px 1px;
}
.text-container .text-owner {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.text-container .text-deg {
  color: rgba(13.81, 13.81, 13.81, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}
/* Dr. Muhammad Yunus section end */

/* Opinion section Start */
.opinion-container {
  width: 90%;
  margin: 0px auto;
}
.opinion-container .opinion-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  margin-top: 70px;
}
.opinion-container .opinion-content {
  background-color: white;
  border-radius: 10px;
  border: 5px solid white;
  margin-top: 30px;
  padding: 20px;
}
.opinion-container .opinion-sub-title {
  background-color: #c6e4d6;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.opinion-container .opinion-sub-title p {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.tbody {
  width: 100%;
}
td {
  border: 1px solid rgb(211, 208, 208);
  padding: 10px 10px;
}
.opinion-content .select-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-content .btn-table1,
.btn-table2,
.btn-table3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6e4d6;
  border: 1px solid rgb(24, 23, 23);
  width: 70%;
  border-radius: 5px;
}

.opinion-content .btn-table1 p {
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 10px;
  background-color: #c6e4d6;
  border-radius: 5px;
}

/* Opinion section end */

/* Recent news section start */
.recent-container {
  width: 90%;
  margin: 0 auto;
}
.recent-container h1 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  margin-top: 70px;
}
.recent-container p {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.recent-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid white;
  padding: 50px;
}

.recent-content .recent-left img {
  border-radius: 20px;
}
.recent-right {
  position: relative;
}

.recent-content .recent-right h1 {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 32px;
  font-family: Fira Sans;
  font-weight: 700;
  margin-top: 0px;
  position: absolute;
  top: 10px;
}
.recent-content .recent-right img {
  /* height: 50px;
  width: 150px; */
  margin-top: 70px;
}

.recent-content .recent-right .span {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.recent-content .recent-right p {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}
.recent-content .recent-right .recent-btn {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 25px;
  background-color: #006a50;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.recent-content .recent-right .recent-btn:hover {
  background-color: yellowgreen;
  color: red;
  font-size: larger;
}
/* Recent news section end */

/*Donate section start */
.donate-container {
  width: 90%;
  margin: 0 auto;
}
.donate-container h1 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
.donate-container p {
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.donate-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.donate-content .donate {
  height: 120px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.donate-content .bg-100:hover {
  background-color: tomato;
  border: 5px solid greenyellow;
}

.donate-content .bg-500:hover {
  background-color: rgb(66, 66, 175);
  border: 5px solid greenyellow;
}

.donate-content .bg-1000:hover {
  background-color: aqua;
  border: 5px solid rgb(47, 255, 109);
}
.donate-content .donate p {
  color: rgba(13.81, 13.81, 13.81, 0.8);
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}
.donate-content .bg-200 {
  background-color: #c6e4d6;
  border: 3px solid #c6e4d6;
}

.donate-content .bg-200:hover {
  background-color: yellowgreen;
  border: 5px solid black;
}
.donate-container .input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}
.donate-container .input {
  background-color: white;
  height: 60px;
  width: 80%;
  text-align: center;
  color: rgba(13.81, 13.81, 13.81, 0.3);
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.donate-container .input-div .btn-done {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #006a50;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
}
.donate-container .input-div .btn-done:hover {
  background-color: aquamarine;
  color: white;
}
/* Donate section end */

/* Subscribe Newsletter start */
.subscribe-container {
  width: 90%;
  height: 380px;
  margin: 80px auto;
  background-color: #c6e4d6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.subscribe-container h1 {
  color: #0e0e0e;
  font-size: 40px;
  padding: 10px;
  font-weight: 700;
}
.subscribe-container p {
  text-align: center;
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
}
.subscribe-container h5 {
  text-align: center;
  color: rgba(13.81, 13.81, 13.81, 0.7);
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
.subscribe-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-box input {
  color: rgba(13.81, 13.81, 13.81, 0.3);
  font-size: 16px;
  font-weight: 400;
  border: none;
  width: 100%;
  padding: 20px 0;
  padding-right: 40px;
  padding-left: 20px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}
.subscribe-box .subscribe-btn {
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: none;
  background-color: #006a50;
  padding: 18px 0;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0px 10px 10px 0px;
}

.subscribe-box .subscribe-btn:hover {
  background-color: aqua;
  color: red;
}
/* Subscribe Newsletter  end */

/* footer section start */

.footer-container {
  background-color: white;
  width: 100%;
  height: 170px;
}
.footer-container .footer-title {
  text-align: center;
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  padding: 30px;
}
.footer-container hr {
  width: 70%;
  margin: 0 auto;
  color: rgba(13.81, 13.81, 13.81, 0.1);
}

.footer-container .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
/* footer section end */
